/* Info */
.main__control__info,
.main__control__status {
    width: 508px;
    height: 131px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 20px 17px 8px 20px;
}

.main__control__info__title {
    color: var(--title);
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 15px;
}

.main__control__info__number,
.main__control__info__place {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__control__info__number {
    margin-bottom: 12px;
}

.main__control__info__number > h3,
.main__control__info__place > h3 {
    color: var(--title);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.main__control__info__number > span,
.main__control__info__place > span {
    color: var(--lightText);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

/* Status */
.main__control__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__control__status__text > h2 {
    color: var(--active);
    font-size: 24px;
    font-weight: 800;
    line-height: 32.883px;
    margin-bottom: 8px;
}

.main__control__status__text > span {
    display: block;
    color: var(--active);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
